.DATA_DETAIL{
    width: 100%;
    display: flex;
    justify-content: center;
    .wrap{
        width: 98%;
        background: #fff;
        box-shadow: 0 1px 1px rgba(189, 195, 199, 0.8);
        border-radius: 5px;
        .seletGroup{
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            .el-form{
                width: 100%;
                display: flex;
                .el-form-item{
                    padding: 0 10px;
                }
            }
            .icon{
                margin: 20px 0 0 10px;
                i{
                    cursor: pointer;
                    background: #ecefef;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}