.CREATE_EDIT{
    .el-form{
        width:1100px;
        max-width: 100%;
        max-height: calc(100vh - 250px);
        overflow: scroll;
        padding: 15px;
        background:#fff;
        box-shadow: 0 1px 1px hsla(204,8%,76%,.8);
        .el-input__inner{
            border-radius: 0px;
            height: 35px;
            line-height: 35px;
        }
        .el-select,.el-cascader{
            width: 100%;
        }
        .address{
            .el-form-item__content{
                display: flex;
                .el-cascader{
                    width: 300px;
                    padding-right: 10px;
                }
            }
        }
        .submit{
            padding-top: 20px;
            text-align: center;
        }
    }
}
